#users
  - for user in @users
    .user
      = link_to user.username, user
      - if user.posts.blank?
        has not written yet
      - else
        = "wrote #{time_ago_in_words user.posts.first.created_at} ago"