.post
  %h2
    = post.title
    - if with_username
      = post.user.username
      &larr;
  %p
    - if logged_in? and post.user == current_user
      = link_to "edit", edit_post_path(post)
  = simple_format post.body
