.post
  %h2
    %span.title
      = post.title
    - if with_username
      %span.username
        &larr;
        = post.user.username
  %p
    - if logged_in? and post.user == current_user
      = link_to "edit", edit_post_path(post)
  = simple_format post.body
