header {
  width: 140px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  color: #ccc;
  padding: 3px 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {

      &.title {
        margin-bottom: 10px;
      }
      a {
        color: #000;
      }
    }
  }

  #writers {
    padding: 10px 0;

    li {
      font-size: 11px;
      .username {color: #999; font-weight:bold}
      .postname {color: #000;}
    }
  }
}


#content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 150px;
  right: 0px;
  padding: 20px 100px;
  min-width: 600px;
  overflow-y: scroll;
}

.right {
  float: right;
}

.post {
  position: relative;
  width: 650px;
  padding-bottom: 20px;
}


#users {
  margin-top: 20px;
}

#editor {
  margin-top: 20px;
  form {
    input[type=text],
    textarea {
      width: 100%;
      background: #eee;
      color: black;
      font-size: 14px;
    }
    textarea {
      height: 500px;
    }
  }
}

.login, .register {
  float: left; width: 400px;

  label { display:block}

  form {
    input[type=text],
    input[type=password] {
      font-size: 16px;
      padding: 5px 10px;
      width: 200px;
      color: black;
      background: white;
      border: 0;
      border-left: 5px solid #000;
      background: #fafafa;
      outline: none;
    }

  }
}

.field {margin-bottom: 30px;}


a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

.btn {
  display: inline-block;
  padding: 15px 85px 15px 25px;
  background: #eee;
  color: #000;
  font-size: 11px;
  line-height: 11px;
  &.primary {
    background: #000;
    color: #fff;
    border: 0;
  }
}


/* typography */

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
}



/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}
